<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->

	<head>
		{{> head }}
	</head>

	<body class="page-container-bg-solid">
		<div class="page-wrapper">

            <div class="page-wrapper-row">
            	{{> header }}
            </div>

			<div class="page-wrapper-row full-height">
				{{> content }}
			</div>

	        
	        <div class="page-wrapper-row">
				{{> footer }}
	        </div>
	        	
	    </div>

		{{> scripts }}

	</body>
</html>

