<div class="page lobby" id='page-lobby'>
	<div id='leftWrapper'>
    <div id='gameListContainer'>
  		<h3>My Active Games</h3>
  		<div id='gamesList'>
  		</div>
    </div>

    <div id='seekGraphContainer'>
      <h3>Available Games</h3>
      <div id='availableGamesList'>
        <div id="chart_div" style="width: 900px; height: 500px;"></div>
      </div>
    </div>
  </div>

  <div id='seekFormContainer'>
    <h3>Create a New Seek</h3>


    <div id='createPopularGame'>
      <button id="5m" class="lobby-button">5m</button>
      <button id="15s5" class="lobby-button">15s / 5</button>
      <button id="30s5" class="lobby-button">30s / 5</button>
    </div>

    <button id="openSeekForm" class="form-customgame lobby-button">Create Custom Seek</button>

    <div id='createCustomSeekForm' class='modal'>
      <div class="modal-content">
        <span class="close">&times;</span>

        <!--
        <div class="form-group">
          <label># of seconds</label>
          <input type="text" class="form-customgame" name="customGameSeconds">
        </div>


        <div class="form-group">
          <label># of periods</label>
          <input type="text" class="form-customgame" name="customGamePeriods">
        </div>
        -->

        <div class="form-group">
          <label> Time </label>
          <select id="timelength">
            <option value="5">5 minute</option>
            <option value="10">10 minute</option>
            <option value="15">15 minute</option>
            <option value="30">30 minute</option>
          </select>
        </div>

        <div class="form-group">
          <label>Rated</label>
          <input type="radio" class="form-customgame" name="customGameRated" value="1"
          checked="checked">
          <label>Unrated</label>
          <input type="radio" class="form-customgame" name="customGameRated" value="0">
        </div>

        <button id="createCustomSeek" class="form-customgame">Submit</button>

      </div>
    </div>
  </div>

	<div id='userListContainer'>
		<h3>Online players</h3>
		<h4>Logged in as: {{ username }}</h4>
		<div id='userList'>
			No users online
		</div>
	</div>
</div>
