
<div class="page lobby" id='page-lobby'>
	<div id='gameListContainer'>
		<h3>My Active Games</h3>
		<div id='gamesList'>
			No active games
		</div>

		<h3>Available Games</h3>
		<div id='availableGamesList'>
       		<div id="chart_div" style="width: 900px; height: 500px;"></div>
		</div>

		<h3>Create a New Seek</h3>
		<div id='quickStart'>
			<button>Quick Start</button>
		</div>
		<div id='createPopularGame'>
			<button id="5m">5m</button>
			<button id="15s5">15s / 5</button> 
			<button id="30s5">30s / 5</button>
		</div>
		<div id='customCustomGame'> 
			<form>
			    <div class="form-group">
                    <label># of seconds</label>
                    <input type="text" class="form-customgame" name="customGameSeconds">
                </div>
                <div class="form-group">
                    <label># of periods</label>
                    <input type="text" class="form-customgame" name="customGamePeriods">
                </div>

                <button type="submit" class="form-customgame">Create Seek</button>
			</form>
		</div>
	</div>

	<div id='userListContainer'>
		<h3>Online players</h3>
		<h4>Logged in as: {{ username }}</h4>
		<div id='userList'>
			No users online
		</div>	
	</div>
</div>
<div class="page game" id='page-game'>
	<button id='game-back'>Back</button>
	<button id='game-resign'>Resign</button>
</div>


<div id="users">
	<p id="userB">Black: Guest</p>
	<p id="userW">White: Guest</p>
</div>

<div id="board">
</div>

<div id="capcount">
	<button id='calc-score'>Calculate Score</button>
	<p id="capcountB">Black: 0</p>
	<p id="capcountW">White: 0</p>
	<div id="counter-black"></div>
	<div id="counter-white"></div>  
	<button id="reset">Reset!</button>  
</div>


