<p>
One of Go's distinguishing features is its ability to create a fair match between two players of unequal skill. This process of giving an extra advantage to one player is called handicapping.  

<!-- average handicap for each difference in ranks -->

<!-- predefined handicap positions for all 9 handicaps -->

</p>