<p> Go is a two player board game where the players take turns trying to surround more territory than their opponent. The rules are relatively simple to learn but the game has extremely complex strategic possibilities, even more so than Chess. Although Go is believed to have originated in China over 2,500 years ago, it is still played by countless people and is perhaps the most popular board game in the world today. 
</p>

<!-- image of a Go game in action --> 

<p>
The playing pieces are called stones and one player takes the black stones and one player takes the white stones. Both players then take turns placing a single stone on a vacant intersection of the game board. The game proceeds in this manner until neither player wishes to make another move. The game is then scored and a winner is declared. 
</p>

<!-- background of game --> 

<!-- popularity -->


