<p>
In Go, rank indicates a player's skill in the game. Traditionally ranks are measured using <i>kyu</i> and <i>dan</i> grades. Kyu grades (abbreviated as k) are considered student ranks that range from 30 kyu (absolute beginner) to 1 kyu (strongest). Dan grades (abbreviated as d) are considered the master ranks, which start at 1 dan (weakest) and rise to 7 dan (strongest). Anyone over 7 dan is considered a master and awarded a professional rank (abbreviated with a p), with 10p being the highest achievable rank.

<table>
	<tr>
		<td> Rank </td>
		<td> Stage </td>
	</tr>
	<tr>
		<td> 30k - 21k </td>
		<td> Beginner </td>
	</tr>
	<tr>
		<td> 20k - 10k </td>
		<td> Casual Player </td>
	</tr>
	<tr>
		<td> 9k - 1k </td>
		<td> Club Player </td>
	</tr>
	<tr>
		<td> 1d - 7d </td>
		<td> Master </td>
	</tr>
	<tr>
		<td> 1p - 10p </td>
		<td> Professional </td>
	</tr>
	
</table>


</p>
