	<div class="row">

		<!-- LOCAL INFORMATION -->
		<div class="col-sm-6">
			<div class="well">
				<h3><span class="fa fa-user"></span> {{ username }}</h3>

					<p>
						<strong>User ID</strong>: {{ userid }} <br />
            <strong>Member Since</strong>:
					</p>

			</div>
		</div>

	</div>
